player-connection-mode=Listen
player-connection-guid=2449342559
player-connection-debug=0
player-connection-project-name=My project (1)
player-connection-ip=192.168.0.69
player-connection-ip=26.50.95.218
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=c85d47e5302c437c8d6127789cfdfa75
